<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 给实体起别名 -->
	<typeAliases>
		<typeAlias type="com.sishu.customerManager.vo.CustomerModel"
			alias="customerModel" />
	</typeAliases>

	<!-- 配置分页拦截器 --> <!-- 如果同时需要一种以上数据库，就只能修改这个插件获取方言的方式和分页时的具体实现 --> <!-- 哪些方法发起的sql需要被替换 -->
	<!---->
	<plugins>
		<plugin interceptor="com.sishu.util.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*Page.*" />
		</plugin>
	</plugins>
</configuration> 